body {
    background-color: #444;
}

.info_box {
    text-align: center;
    overflow: hidden;
    min-height : 200px;
}

.success {
    background-color: #73F570;
}

.warning {
    background-color: #f0ad4e;
}

.danger {
    background-color: #d96e67;
}

.gameover {
    background-color: #666;
}

.ribbon {
    position: absolute;
    top: -6%;
    right: -37%;
    height: 37%;
    width: 100%;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    padding-top: 24%;
}

.ribbon.prd {
    background-color: #40A5A5;
}

.ribbon.dev {
    background-color: #b646b2;
}

.ribbon span {
    color: #dfdfdf;
    display: block;
    width: 41%;
    font: bold 150% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: auto;
    text-align: center;
    text-shadow: 0 0 5px #444;
}

img {
    width: 50%;
    /*height: auto;*/
}

.monitor-box {
    padding-top: 2%;
    float: left;
    width: 350px;
    height: 350px;
    margin: 5px;
}

.status {
    font-weight: bold;
    word-wrap: break-word;
    font: bold 150% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    height: 20%;
    overflow-y: hidden;
}

.time {
    position: absolute;
    bottom: 5%;
    left: 22%;
    color: #444;
    font-size: 150%;
}
