body {
    background-color: #eee;
}

.info_box {
    text-align: center;
    overflow: hidden;
    min-height : 200px;
}

.success {
    background-color: #5cb85c;
}

.warning {
    background-color: #f0ad4e;
}

.danger {
    background-color: #d9534f;
}

.gameover {
    background-color: #666;
}

.ribbon {
    position: absolute;
    top: -20px;
    right: -95px;
    height: 100px;
    width: 250px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    /* shadow */
    -webkit-box-shadow: 0 0 10px #888;
    -moz-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    padding-top: 55px;
    border: 1px solid #faa;
    background-color:#a00;
}

.ribbon span {
    color: #fff;
    display: block;
    width: 90px;
    font: bold 100% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: auto;
    text-align: center;
    text-shadow: 0 0 5px #444;
}

img {
    max-width: 25%;
    /*height: auto;*/
}

.monitor-box {
    float: left;
    width: 250px;
    height: 250px;
    margin: 5px;
}