{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/style.css' %}">
    <style>
        body {
            margin-top : 30px;
        }
    </style>

</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
        {% for monitor in monitors %}
            {% with monitor.getLastStatus as last_status %}
                    {% if last_status.code == "OK" %}
                        <div class="col-md-4 info_box success">
                    {% elif last_status.code == "Warn" %}
                        <div class="col-md-4 info_box warning">
                    {% elif last_status.code == "Failed" %}
                        <div class="col-md-4 info_box danger">
                    {% else %}
                        <div class="col-md-4 info_box gameover">
                    {% endif %}

                    <div class="ribbon">
                        <span>{{ monitor.id }}</span>
                    </div>

                    <strong>CODE</strong>  {{last_status.code}}         <br>
                    <strong>ID:</strong>   {{ monitor.id }}             <br>
                    <strong>DESC:</strong> {{ monitor.description }}    <br>
                    <strong>TYPE:</strong> {{ monitor.type }}           <br>
                    <strong>DESC:</strong> {{ last_status.short_desc }} <br>
                    <strong>TIME:</strong> {{ last_status.timestamp }}  <br>

                {% endwith %}
                </div>

        {% endfor %}
        </div>
    </div>
</body>
</html>