<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="refresh" content="10">
</head>
<body>
    <ul>
        {% for monitor in monitors %}
            <li>
                {% with monitor.getLastStatus as last_status %}
                    <div>{{ monitor.id }}: {{ monitor.description }} ({{ monitor.type }})</div>
                    <div>{{ last_status.code }}: {{ last_status.short_desc }} ({{ last_status.timestamp }})</div>
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>